.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}

.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	outline: none;
	border-radius: 4px;
	position: absolute;
	margin-top: -24px;
	top: 50%;
	right: 30px;
	border-style: none;
}

.filters button:hover {
	opacity: 0.9;
}

.location {
	text-align: left;
	height: 100%;
	border-right: 1px solid #DDDDDD;
	width: 25%;
	float: left;
}

.amenities {
	text-align: left;
	height: 100%;
	width: 25%;
	float: left;
}

h3 {
	font-weight: 600;
	margin-bottom: 5px;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 0;
}

.popover {
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	z-index: 1;
	display: none;
	margin-top: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	max-height: 300px;
	overflow: auto;
}

.popover h2 {
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 15px;
}

.popover ul {
	margin: 0;
}

.popover li {
	list-style-type: none;
	margin: 10px 10px;


}

.location:hover .popover {
	display: block;
}

.amenities:hover .popover {
	display: block;
}